@model Identity.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>Şifre Değiştir</h1>

<form asp-action="PasswordChange">
    <input asp-for="Password" placeholder="Şifre" />
    <input asp-for="NewPassword" type="password" placeholder="Yeni Şifre" />
    <input asp-for="NewPasswordConfirm" type="password" placeholder="Yeni Şifre Tekrar Girin" />
    <button type="submit">Değiştir</button>
</form>