@model Identity.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Kullanıcı Bilgilerini Düzenle";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>Kullanıcı Bilgilerini Düzenle</h1>

<form asp-action="UserEdit">
    <input asp-for="UserName" placeholder="Kullanıcı Adı" />
    <input asp-for="Email" placeholder="Email" />
    <input asp-for="PhoneNumber" placeholder="Telefon Numarası" />
    <button type="submit">Güncelle</button>
</form>