@model Identity.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<h1>Şifremi Unuttum</h1>

<form asp-action="ResetPassword">
    <input asp-for="Email" placeholder="Email" />
    <button type="submit">Gönder</button>
</form>