@model Identity.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Yeni Şifre";
}

<h1>Yeni Şifre Belirleyiniz</h1>

<form asp-action="ResetPasswordConfirm">
    <input asp-for="Password" type="password" placeholder="Yeni şifre">
    <button type="submit">Gönder</button>
</form>