@model Identity.ViewModels.UserViewModel

@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<form asp-action="SignUp">
    <input asp-for="UserName" placeholder="Username">
    <input asp-for="PhoneNumber" placeholder="PhoneNumber">
    <input asp-for="Email" placeholder="Email">
    <input asp-for="Password" placeholder="Password" type="password">
    <Button type="submit">Kayıt Ol</Button>
</form>