<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <nav>
        <a asp-action="Index" asp-controller="Home">Home</a>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>

</html>