<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/home/login">Giriş</a>
        <a href="/home/signup">Üye Ol</a>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>

</html>