@model List<AppRole>

@{
    ViewData["Title"] = "Roller";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a asp-action="CreateRole">Role Oluştur</a>

<h1>Roller</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var role in Model)
        {
            <li style="display: flex;">
                <p style="margin: 0 5px 0 0;">@role.Name</p>
                <a asp-action="UpdateRole" asp-route-id="@role.Id" style="margin: 0 5px 0 0;">Güncelle</a>
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <button type="submit">Sil</button>
                </form>
            </li>
        }
    </ul>
}